* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgoldenrod;
}

.container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 96px;
    height: 96px;
    border-radius: 100%;
}

.user__image img {
    height: 76px;
    width: 76px;
    border-radius: 50%;
}

.color-selection {
    margin-top: 50px;
    padding: 25px;
    border: 1px solid black;
}

.set-color {
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 100%;
    margin-bottom: 15px;
}
.set-color:last-child {
    margin-bottom: 0;
}
.set-color[data-color="darkorange"] {
    background-color: darkorange;
}
.set-color[data-color="darkred"] {
    background-color: darkred;
}
.set-color[data-color="darkorchid"] {
    background-color: darkorchid;
}

.active {
    border: 1px solid black;
}